.header {
    padding: 1.5em 8%;
    background-image: linear-gradient(to right, #000406, #1f343e);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 2.5em;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.menu-mobile-container {
    background-image: linear-gradient(to right, #000406, #1f343e);
    padding: 1em 8%;
    animation: openHeader 500ms;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 2em;
    padding: 1em 0;
    overflow: hidden;
    animation: openHeader 500ms;
}

.menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    border-bottom: 2px solid transparent;
}

.menu-link:hover {
    color: #5ce1d4;
    border-bottom: 2px solid #5ce1d4;
}

.menu-button {
    cursor: pointer;
}

.menu-button.openned {
    animation: appear 200ms;
}

.menu-button.closed {
    animation: disappear 200ms;
}

.header-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 10em;
    font-size: 1em;
    font-weight: 500;
    border-radius: .5em;
    padding: 0.6em 1.5em;
    text-decoration: none;
    background-color: #6AB5AE;
    color: #fff;
}

.header-button:hover {
    background-color: #5ce1d4;
}

@keyframes openHeader {
    from {
        height: 0;
        padding: 0;
    }
}

@keyframes appear {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes disappear {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}